@import (reference) "@base/styles/main.less";

.wdu-popover {
    .wdu-box();
    width: max-content;
    height: max-content;
    position: fixed;
    visibility: hidden;

    top: 50%;
    left: 50%;

    &__active {
        visibility: visible;
    }
}