@import (reference) "@base/styles/main.less";

.wdu-popover {
    .wdu-box();
    position: fixed;
    visibility: hidden;
    margin: 0;
    top: 0;
    left: 0;
    width: max-content;

    &__active {
        visibility: visible;
    }
}