.wdu-input {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    margin: 20px;
    width: 350px;

    &-container {
        .wdu-flex();
        .out-shadow-light();
        position: relative;
        box-sizing: content-box;
        margin: 10px;
        border-radius: 5px;
        border-color: rgb(112, 112, 112);
    }

    &__input {
        width: 100%;
        padding: 0 15px;
        display: inline-block;
        outline: 0;
        border-radius: 5px;
        .wdu-border-light();
        .inside-shadow-light();

        &:focus {
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
            border-color: rgb(159, 159, 159);
        }
    }

    &__label {
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px 0 0 5px;
        white-space: nowrap;
        padding: 0 15px;
        color: @wdu-font-color-title;
        .wdu-bg-plain();
    }

    &__prepend {
        position: absolute;
        left: 1px;
        top: 1px;
    }

    &-small {
        .wdu-input__input,
        .wdu-input__label {
            .wdu-text-small();
            height: 30px;
            line-height: 30px;
        }
    }

    &-normal {
        .wdu-input__input,
        .wdu-input__label {
            .wdu-text-normal();
            height: 36px;
            line-height: 36px;
        }
    }

    &-large {
        .wdu-input__input,
        .wdu-input__label {
            .wdu-text-large();
            height: 42px;
            line-height: 42px;
        }
    }

    &__widget {
        position: absolute;
        right: 5px;
        top: 0;
        width: max-content;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .icon() {
        display: inline-block;
        height: 30px;
        width: 30px;
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    &__password {
        .icon();
        background-image: url('../../icon/SVG/password-visible.svg');

        &-hidden {
            background-image: url('../../icon/SVG/password-hidden.svg');
        }
    }

    &__clear {
        .icon();
        background-image: url('../../icon/SVG/input-clear.svg');
    }
}
