
.wdu-tree {
    background-color: white;
    .wdu-border-light();
    border-bottom: none;

    &__node {
        overflow: hidden;

        &-label {
            .wdu-text-normal();
            border-bottom: 1px solid rgb(231, 231, 231);
            padding: 0 10px;
            height: 30px;
            display: flex;
            align-items: center;
            transition: background-color 0.3s
                cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                color: white;
                cursor: pointer;
                background-color: rgb(73, 105, 180);
            }

            &--leaf {
                &:hover {
                    cursor: default;
                }

                &::before {
                    visibility: hidden;
                }
            }

            &--open {
                &::before {
                    transform: rotate(135deg);
                }
            }
        }

        &-children {
            height: 0;
            transition: all 0.2s ease;
        }
    }

    &__small {
        .wdu-tree__node-label {
            height: 25px;
        }
    }

    &__normal {
        .wdu-tree__node-label {
            height: 30px;
        }
    }

    &__large {
        .wdu-tree__node-label {
            height: 40px;
        }
    }
}
