@import (reference) "../../base/styles/main.less";

@t: wdu-button;

.@{t} {
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    white-space: nowrap;
    margin: 10px 10px;
    .wdu-transition-quick();
    .wdu-radius-normal();
    .wdu-border-solid();
    .out-shadow-light();
    .wdu-row-both-center();

    &:hover {
        cursor: pointer;
    }
}

.@{t}-small {
    .wdu-text-small();
    height: 26px;
}

.@{t}-normal {
    .wdu-text-normal();
    height: 36px;
}

.@{t}-large {
    .wdu-text-large();
    height: 46px;
}

.@{t}-plain {
    .wdu-bg-plain();
    color: @wdu-font-color-main;

    &:hover {
        background: linear-gradient(#f0f0f0, #e0e0e0);
    }
}

.@{t}-important {
    .wdu-bg-important();
    color: @wdu-color-front;

    &:hover {
        background-image: linear-gradient(#7f9bda, #506db1);
    }
}

.@{t}-danger {
    .wdu-bg-danger();
    color: @wdu-color-front;

    &:hover {
        background-image: linear-gradient(#e07d78, #d36661);
    }
}

.@{t}-success {
    .wdu-bg-success();
    color: @wdu-color-front;

    &:hover {
        background-image: linear-gradient(#bce776, #9dbe68);
    }
}

.@{t}-warn {
    .wdu-bg-warn();
    color: @wdu-color-front;

    &:hover {
        background-image: linear-gradient(#fff16e, #d1bf20);
    }
}

.@{t}-disabled {
    box-shadow: none;
    background: whitesmoke;
    color: rgb(189, 189, 189);

    &:hover {
        cursor: not-allowed;
        background: whitesmoke;
    }
}

.@{t}-line {
    box-shadow: none;
    color: @wdu-font-color-main;
    background-color: @wdu-color-front;
    border: 2px solid rgb(231, 231, 231);

    &:hover {
        background-color: #f2f0f0;
    }
}