.wdu-form {

    &__item {
        margin: 10px;

        &-horizon {
            display: flex;
            align-items: center;
        }

        &-vertical {
            display: block;
            line-height: 30px;
            text-indent: 10px;
        }

        &-label {
            display: block;
            min-width: 80px;

            &--left {
                text-align: left;
            }

            &--center {
                text-align: center;
            }

            &--right {
                text-align: right;
            }
        }

        &-body {
            flex-grow: 1;
        }
    }
}