@import (reference) "@base/styles/main.less";

.wdu-form {

    &__item {
        position: relative;
        padding-bottom: 20px;

        &-horizon {
            display: flex;
            align-items: center;
        }

        &-vertical {
            display: block;
            line-height: 30px;
            text-indent: 10px;
        }

        &-label {
            display: block;
            min-width: 80px;
            .wdu-text-normal();

            &--left {
                text-align: left;
            }

            &--center {
                text-align: center;
            }

            &--right {
                text-align: right;
            }
        }

        &-body {
            flex-grow: 1;
        }

        &-info {
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            color: red;
            opacity: 0;
            transition: opacity 0.2s ease-out;
            text-indent: 90px;
            position: absolute;
            bottom: 5px;
        }

        &-noVerified {
            opacity: 1;

            &+.wdu-form__item-body>div {
                border: 1px solid red;
            }

            &+.wdu-form__item-body input {
                &:focus {
                    transition: all 0.3s;
                    border-color: transparent;
                }
            }
        }

        &-required {
            width: 6px;
            height: 6px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: text-top;
            margin-right: 5px;
            .wdu-bg-danger();
        }
    }
}