/* 字体颜色 */
@wdu-font-color-main      : rgb(31, 31, 31); // 主要文字
@wdu-font-color-paragraph : rgb(100, 100, 100); // 主要段落
@wdu-font-color-title     : rgb(65, 65, 65); // 标题文字

/* 通用背景色 */
@wdu-color-front : #ffffff;
@wdu-color-disabled : #dfdfdf;

/* 线条颜色 */
@wdu-line-color-light: #d3d3d3;

/* 通用背景图像 */
.wdu-bg-plain {
    background-image: linear-gradient(#ffffff, #f1f1f1); // 主要
}

.wdu-bg-success {
    background-image: linear-gradient(#acdb5f, #8db44f); // 成功
}

.wdu-bg-important {
    background-image: linear-gradient(#6383c6, #4262af); // 重要
}

.wdu-bg-danger {
    background-image: linear-gradient(#CE554E, #B8352E); // 危险
}

.wdu-bg-warn {
    background-image: linear-gradient(#f7e22c, #d3be00); // 提示
}

.wdu-bg-night {
    background-image: linear-gradient(#313131, #141414); // 夜间
}