@import (reference) '@base/styles/main.less';

.wdu-select {
    .out-shadow-light();
    .wdu-border-light();
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    &__input {
        width: 160px;
        height: 40px;
        box-sizing: border-box;
        padding: 10px;
        border: 0;
        outline: 0;
        border-radius: 8px;
    }

    &__active {
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        border-color: rgb(125, 125, 125);
    }

    &__disabled {
        .wdu-select__input {
            &::placeholder {
                color: rgb(207, 207, 207);
            }
            cursor: not-allowed;
        }
    }

    &-popover {
        margin: 0;
        padding: 0;
        width: max-content;
        min-width: 160px;
    }

    &__options {
        padding: 0;
    }

    &__option {
        list-style: none;
        height: 20px;
        padding: 8px;
        text-indent: 15px;
        cursor: pointer;

        &:hover {
            .wdu-bg-important();
            color: white;
        }
    }

    .wdu-icon-arrow {
        position: absolute;
        right: 0;
        top: calc(50% - 8px);
    }
}

// .wdu-select-label {
//     line-height: @height;
//     padding: 0 8px;
//     border-radius: 5px 0 0 5px;
//     .wdu-bg-plain();
//     .wdu-text-normal();
//     .wdu-border-light();
//     border-right: none;
// }

// .wdu-select__disabled {
//     .wdu-disabled();

//     .wdu-select-option {
//         .wdu-disabled();
//     }
// }

// .wdu-select-option {
//     height: @height;
//     list-style: none;
//     line-height: @height;
//     padding: 0 15px;
//     background-color: white;
//     position: relative;
//     text-align: left;
//     cursor: pointer;
//     .wdu-transition-quick();
//     .wdu-text-normal();
//     border-bottom: 1px solid rgb(229, 229, 229);

//     &:first-child {
//         background-color: white;

//         &:hover {
//             background-color: white;
//         }
//     }

//     &:hover {
//         background-color: rgb(229, 229, 229);
//     }

//     &__selected {
//         &::after {
//             content: '';
//             display: inline-block;
//             width: 10px;
//             height: 10px;
//             border-radius: 50%;
//             position: absolute;
//             right: 12px;
//             top: calc(50% - 5px);
//             .out-shadow-light();
//             .wdu-bg-important();
//         }
//     }

//     i {
//         position: absolute;
//         right: 0px;
//         top: calc(50% - 5px);
//     }
// }
