@import (reference) "@base/styles/main.less";

.wdu-navMenu {
    .wdu-border-light();
    .wdu-radius-normal();
    .out-shadow-light();
    background-color: white;
    min-width: 200px;
    overflow: hidden;

    .wdu-navMenuItem:first-child {
        border-top: none;
    }
}

.wdu-navMenuItem {
    height: 40px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;

    &:hover {
        background-color: #dadada;
    }

    &:first-child {
        border-top: none;
    }

    &__icon,
    &__label {
        display: inline-block;
    }

    &__label {
        text-decoration: none;
        line-height: 40px;
        color: rgb(68, 68, 68);
    }

    .wdu-icon-arrow {
        position: absolute;
        right: 0;
        top: 18px;
    }
}

.wdu-subNavMenu {
    padding: 0;
    border: unset;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 0;

    .wdu-subNavMenu {
        padding-left: 45px;
    }

    &__container {
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
        border-top: 1px solid rgb(212, 212, 212);

        &:first-child {
            border-top: none;
        }

        .wdu-navMenuItem {
            padding-left: 45px;

            &__label {
                font-size: 14px;
                text-decoration: none;
            }

            &:first-child {
                background-color: white;
                padding-left: 20px;

                &:hover {
                    background-color: #e5e5e5;
                }
            }
        }
    }
}

.wdu-navMenuItem__disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
        background-color: #f4f4f4
    }
}