@import (reference) '@base/styles/main.less';

@hoverColor: #e2e2e2;

.wdu-navMenu {
    .wdu-border-light();
    .wdu-radius-normal();
    .out-shadow-light();
    background-color: white;
    min-width: 180px;
    font-size: 14px;
    padding: 0;
    overflow: hidden;

    .wdu-navMenuItem:first-child {
        border-top: none;
    }

    .wdu-subNavMenu {
        padding: 0;
        box-shadow: none;
    }
}

.wdu-navMenuItem {
    height: 40px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    list-style: none;
    line-height: 40px;

    &>a,
    span {
        width: 100%;
        height: 100%;
        display: block;
    }

    a {
        text-decoration: none;
        color: rgb(68, 68, 68);
        line-height: inherit;
    }

    &:hover {
        background-color: @hoverColor;
    }

    &:first-child {
        border-top: none;
    }

    &__icon,
    &__label {
        display: inline-block;
    }

    &__label {
        text-decoration: none;
        line-height: 40px;
        color: rgb(68, 68, 68);
    }

    .wdu-icon-arrow {
        position: absolute;
        right: 0;
        top: 18px;
    }

    &__disabled {
        cursor: not-allowed;
        opacity: 0.5;

        a {
            cursor: not-allowed;
            pointer-events: none;
        }

        &:hover {
            background-color: #f4f4f4;
        }
    }
}

.wdu-subNavMenu {
    padding: 5px 20px;
    margin: 0;
    border: unset;
    border-radius: 0;

    .wdu-navMenuItem {
        &__label {
            font-size: 14px;
            text-decoration: none;
        }

        &:first-child {
            padding-left: 20px;

            &:hover {
                background-color: @hoverColor;
            }
        }
    }

    &__title {
        background-color: #ffffff;
    }

    &__items {
        background-color: #ededed;
        transition: width, height 0.2s ease-in-out;

        .wdu-subNavMenu__title {
            background-color: #ededed;
        }

        .wdu-navMenuItem:hover {
            background-color: @hoverColor;
        }
    }
}