@import (reference) '@base/styles/main.less';

.wdu-navMenu {
    .wdu-border-light();
    .wdu-radius-normal();
    .out-shadow-light();
    background-color: white;
    min-width: 200px;
    font-size: 14px;
    padding: 0;

    .wdu-navMenuItem:first-child {
        border-top: none;
    }

    .wdu-subNavMenu {
        padding: 0;
        box-shadow: none;
    }
}

.wdu-navMenuItem {
    height: 40px;
    padding: 5px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;
    list-style: none;
    line-height: 40px;

    a {
        text-decoration: none;
        color: rgb(68, 68, 68);
        line-height: inherit;
    }

    &:hover {
        background-color: #dadada;
    }

    &:first-child {
        border-top: none;
    }

    &__icon,
    &__label {
        display: inline-block;
    }

    &__label {
        text-decoration: none;
        line-height: 40px;
        color: rgb(68, 68, 68);
    }

    .wdu-icon-arrow {
        position: absolute;
        right: 0;
        top: 18px;
    }
}

.wdu-subNavMenu {
    padding: 5px 20px;
    margin: 0;
    border: unset;
    background-color: #f4f4f4;
    border-radius: 0;

    .wdu-navMenuItem {
        padding-left: 40px;

        &__label {
            font-size: 14px;
            text-decoration: none;
        }

        &:first-child {
            background-color: #ffffff;
            padding-left: 20px;

            &:hover {
                background-color: #e5e5e5;
            }
        }
    }

    .wdu-subNavMenu {
        // padding-left: 20px;
    }
}

.wdu-subNavMenu__title {
    background-color: #d1d1d1;
}

.wdu-navMenuItem__disabled {
    cursor: not-allowed;
    opacity: 0.5;

    a {
        cursor: not-allowed;
        pointer-events: none;
    }

    &:hover {
        background-color: #f4f4f4;
    }
}
