
.wdu-divider {
    position: relative;
    color: #d8d8d8;
    margin: 20px 0;

    &__text {
        .wdu-text-small();
        position: relative;
        margin: 0 5px;
        color: rgb(150, 150, 150);
        white-space: nowrap;
    }

    &__noText {
        border-bottom: currentColor 1px solid;
    }

    &__withText {
        display: flex;
        align-items: center;
        &::before,
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
            border-bottom: currentColor 1px solid;
            position: relative;
            height: 1px;
            top: calc(-50% - 1px);
        }
    }

    &__dash {
        &::before,
        &::after {
            border-bottom-style: dashed;
            border-bottom-width: 2px;
        }
    }

    &__dot {
        &::before,
        &::after {
            border-bottom-width: 3px;
            border-bottom-style: dotted;
        }
    }

    &__double {
        &::before,
        &::after {
            border-bottom-style: double;
            border-bottom-width: 4px;
        }
    }
}
