.wdu-divider{
    border-color: gray;
    flex-grow: 0;
    &-line{
        border-style:solid;
    }

    &-wave{
        text-decoration: wavy;
    }

    &-vertical{
        width: 0;
        margin: 0 8px;
       
    }

    &-horizontal{
        display: block;
        width: 100%;
        margin: 8px 0px; 
        border-top: 1px ;
    }
}

