.wdu-collapse {
    .wdu-border-light();
}

.wdu-collapse-item {
    &__header {
        height: 40px;
        border-bottom: 1px solid rgb(239, 239, 239);
        display: flex;
        align-items: center;
        padding: 0 15px;
        position: relative;

        .wdu-icon-arrow{
            position: absolute;
            right: 0;
        }
    }

    &__container {
        .wdu-bg-plain();
        height: 100%;
    }

    &__body {
        overflow: hidden;
        .wdu-transition-quick();
        .wdu-text-small();
    }
}
