@import (reference) '../../base/styles/main.less';

.wdu-collapse {
    .wdu-border-light();
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    &__container {
        .wdu-bg-plain();
        height: 100%;
    }

    &__sticky {
        position: sticky;
        top: 0;
        overflow: auto;
    }
}

.wdu-collapse-item {
    .inside-shadow-light();
    box-sizing: border-box;
    flex-grow: 0;

    &__label {
        height: 42px;
        padding: 10px;
        .wdu-text-normal();
        .wdu-row-flex();
        .wdu-bg-plain();
        box-sizing: border-box;
        cursor: pointer;
        border-bottom: 1px solid @wdu-line-color-light;
        display: flex;
        align-items: center;
    }

    &__expand {
        transform: rotate(135deg);
    }

    &__indicator {
        display: inline-block;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        border: 3px solid;
        margin-right: 15px;
        border-color: #aeaeae #aeaeae rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        transition: all 0.1s ease-in-out;
        transform: rotate(45deg);
    }

    &__body {
        overflow: hidden;
        height: 0px;
        box-sizing: border-box;
        .wdu-transition-quick();
        .wdu-text-small();
    }

    &__nav {
        height: 40px;
        transition: all 0.2s ease-in-out;

        a {
            width: 100%;
            height: 100%;
            line-height: 40px;
            text-decoration: none;
            text-indent: 15px;
            .wdu-text-small();
            .wdu-row-flex();

            &:hover {
                color: white;
                .wdu-bg-important();
            }
        }
    }

    &__autoHeight {
        flex-grow: 1;
    }
}