
.wdu-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    display: none;
    overflow: auto;

    &__container {
        width: 350px;
        position: relative;
        opacity: 0;
        margin: 0 auto;
        margin-top: 15vh;
        .wdu-bg-plain();
        .wdu-radius-normal();
        .out-shadow-normal();
    }

    &__title {
        height: 48px;
        text-align: center;
        .wdu-text-title();
        line-height: 48px;
        margin: 0;
        border-bottom: 1px solid rgb(202, 202, 202);
    }

    &__close {
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        border-radius: 50%;
        .wdu-bg-danger();
        right: 10px;
        top: 10px;
        cursor: pointer;
    }

    &__body {
        padding: 20px;
        overflow: auto;
    }

    &__visible {
        display: block;
        opacity: 0;
        animation: maskShow 0.1s ease 0s 1 normal forwards;

        .wdu-modal__container {
            animation: show 0.3s cubic-bezier(.32,.32,.19,1) 0.2s 1 normal forwards;
        }
    }

    &__hidden {
        opacity: 1;
        animation: maskHide 0.3s ease 0.2s 1 normal forwards;

        .wdu-modal__container {
            animation: hide 0.3s cubic-bezier(.44, .11, 0, .99) 0s 1 normal forwards;
        }
    }

    &__mask {
        background-color: rgba(0, 0, 0, 0.557);
    }

    &__fullScreen {
        .wdu-modal__container {
            width: 100%;
            height: 100%;
            margin-top: 0;
        }
    }
}

@keyframes maskShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes maskHide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
        top: -30px
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes hide {
    from {
        opacity: 1;
        top: 0;
    }

    to {
        opacity: 0;
        top: -30px;
    }
}