@import (reference) "@base/styles/main.less";

@borderStyle: 1px solid rgb(231, 231, 231);

.wdu-table__gridLine {
    &:first-child {
        border-right: @borderStyle;
    }

    &:last-child {
        border-left: @borderStyle;
    }
}

.wdu-table__container {
    overflow: auto;
}

.wdu-table {
    position: relative;
    border-collapse: collapse;
    border: @borderStyle;
    .wdu-text-large();

    &__title {
        .wdu-text-title();
        margin: 15px;
    }

    &__header {
        height: 40px;
        text-align: center;
        line-height: 40px;
        .wdu-bg-plain();

        th {
            padding: 10px 20px;
            border-bottom: @borderStyle;
            border-top: @borderStyle;

            .wdu-table__gridLine();
        }
    }

    &__row {
        color: @wdu-font-color-paragraph;
        .wdu-transition-quick();

        &:hover {
            background-color: rgb(239, 239, 239);
        }
    }

    &__body {
        background-color: white;
    }

    &__cell {
        padding: 10px 20px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        box-sizing: border-box;
        border-bottom: @borderStyle;

        .wdu-table__gridLine();
    }

    thead {
        position: sticky;
        top: 0px;
    }
}