@import (reference) "@base/styles/main.less";

.wdu-image {
    &__img {
        border-radius: 5px;
        overflow: hidden;
    }

    &__info {
        .wdu-text-small();
        text-align: center;
        color: rgb(136, 136, 136);
    }
}