@import url('../../base/styles/main.less');

#wdu-message-container {
    position: fixed;
    top: 0;
    width: 100%;
    pointer-events: none;
}

.wdu-message {
    width: max-content;
    background: white;
    margin: 15px auto;
    position: relative;
    animation: slide-down-on 0.5s ease 0s 1 forwards;
    padding: 8px 20px;
    top: -10px;
    flex-grow: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .wdu-text-normal();
    .out-shadow-normal();
    .wdu-radius-small();

    &-info {
        .wdu-bg-plain();
    }

    &-error {
        color: white;
        .wdu-bg-danger();
    }

    &-success {
        color: white;
        .wdu-bg-success();
    }

    &-warning {
        .wdu-bg-warn();
    }
}

.wdu-message-remove {
    animation: slide-down-off 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1;
}

@keyframes slide-down-on {
    from {
        opacity: 0;
        top: -20px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes slide-down-off {
    from {
        opacity: 1;
        top: 0;
    }

    to {
        opacity: 0;
        top: -20px;
    }
}