@import url('../../base/styles/main.less');

#wdu-message-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    left: 50%;
    right: 50%;
    top: 0
}

.wdu-message {
    width: max-content;
    background: white;
    margin: 15px auto;
    position: relative;
    animation: slide-down-on 0.5s ease 0s 1 forwards;
    padding: 8px 20px;
    top: -10px;
    flex-grow: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .wdu-text-normal();
    .out-shadow-normal();
    .wdu-radius-small();

    &-info {
        .wdu-bg-plain();
    }

    &-danger {
        color: white;
        .wdu-bg-danger();
    }

    &-success {
        color: white;
        .wdu-bg-success();
    }

    &-warn {
        .wdu-bg-warn();
    }
}



.wdu-message-remove {
    animation: slide-down-on 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s 1 reverse;
}

@keyframes slide-down-on {
    from {
        top: -10px;
    }

    to {
        top: 0;
    }
}